<p>Current shares for {{symbol}} of list {{listName}}</p>
<div class="shares-container">
    <ul class="shares-list" *ngIf="watchingStock?.purchaseGuidToShares">
        <li class="share-item" *ngFor="let purchaseId of GetKeys(watchingStock!.purchaseGuidToShares)">
            <span class="share-amount">Amount: {{watchingStock!.purchaseGuidToShares[purchaseId].amount}}</span>
            <span class="share-price">Avg Price: {{watchingStock!.purchaseGuidToShares[purchaseId].purchasingPrice}}</span>
            <button (click)="RemoveShare(purchaseId, symbol)">Remove Share</button>
        </li>
    </ul>
    <button (click)="AddShare(symbol, listName)">Add</button>
</div>