<p>Current shares for {{symbol}} of list {{listName}}</p>
<div class="shares-container">
    <ul class="shares-list" *ngIf="watchingStock?.purchaseGuidToShares">
        <li class="share-item" *ngFor="let purchaseId of getKeys(watchingStock!.purchaseGuidToShares)">
            <span class="share-amount">Amount: {{watchingStock!.purchaseGuidToShares[purchaseId].amount}}</span>
            <span class="share-price">Avg Price: {{watchingStock!.purchaseGuidToShares[purchaseId].purchasingPrice}}</span>
            <button (click)="removeShare(watchingStock!.purchaseGuidToShares[purchaseId].id!, symbol)">Remove Share</button>
        </li>
    </ul>
    <button (click)="visibleAddShareDialog = true">Add</button>
</div>
<p-dialog header="Add Stock To List" [modal]="true" [(visible)]="visibleAddShareDialog" [style]="{ width: '30rem' }">
    <div class="flex align-items-center gap-3 mb-3">
        <label for="numberOfShares" class="font-semibold w-6rem">Number Of Shares: </label>
        <input pInputText type="number" id="numberOfShares" class="flex-auto" autocomplete="off" [(ngModel)]="numberOfShares" required />
        <br>
        <label for="stockPrice" class="font-semibold w-6rem">Stock Price: </label>
        <input pInputText type="number" id="stockPrice" class="flex-auto" autocomplete="off" [(ngModel)]="stockPrice" required />
        <br>
        <label for="purchaseDate" class="font-semibold w-6rem">Purchase Date: </label>
        <p-calendar [(ngModel)]="purchaseDate" [showIcon]="true" appendTo="body"/>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="visibleAddShareDialog = false" />
        <p-button label="Save" (onClick)="addShare()" />
    </div>
</p-dialog>