body {
  margin: 0px;
}

header {
  padding: 20px 10px;
  border-bottom: 1px solid #00000060;
  border-top: 1px solid #00000060;
}

footer {
  padding: 10px 10px;
  border-top: 1px solid #00000060;
}

.main-content {
  padding: 0px 10px;
  min-height: 70vh;
}

.navbar-item {
  text-decoration: none;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.navbar li {
  background-color: #00000040;
  border-radius: 3px;
  padding: 4px;
}
