body{
    margin: 0px;
}

header {
  padding: 20px 10px;
  background-color: aliceblue;
}

footer{
    background-color: antiquewhite;
    padding: 10px 10px;
}

.main-content{
    padding: 30px 10px;
}

.navbar-item {
  text-decoration: none;
  color: black;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.navbar li {
  background-color: gray;
  border-radius: 3px;
  padding: 4px;
}


.bg-body{
    background-color: gray;
    border-radius: 2px;
}