body {
  margin: 0px;
  --blue: #0d6efd;
}

header {
  padding: 20px 10px;
  border-bottom: 1px solid #00000060;
  border-top: 1px solid #00000060;
}

footer {
  padding: 10px 10px;
  border-top: 1px solid #00000060;
}

.main-content {
  padding: 0px 10px;
  min-height: 70vh;
}

.navbar-item {
  text-decoration: none;
  color:white;
  border-radius: 3px;
  padding:8px;
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: var(--blue);
  border-radius: 15px;
}

.nav-custom {
  --bs-nav-link-color: var(--bs-white);
  --bs-nav-pills-link-active-color: var(--bs-primary);
  --bs-nav-pills-link-active-bg: var(--bs-white);
}

.active{
  background-color: white;
  color:var(--blue);
}

.navbar-item:hover{
  background-color: white;
  color:var(--blue);
}

.center{
  text-align: center;
}

.btn-style-rm{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-decoration:underline;

}

.btn-style-rm:hover{
  color: var(--blue)
}