<div class="profile-container">
    <h2>User Profile</h2>
    <br>
    <div class="chart-container">
        <h3>General Information</h3>
        <p><strong>Name:</strong> {{(user|async)?.firstName}} {{(user|async)?.lastName}}</p>
        <p><strong>Email:</strong> {{(user|async)?.email}}</p>
    </div>
    <div class="chart-container">
        <h3>Stock Portfolio</h3>
        <p><strong>Total Gain:</strong>{{GetTotalGain()}}$</p>
        <p><strong>Number of Stocks:</strong> {{CountOwnedStocks()}}</p>
    </div>
    <div class="chart-container">
        <h3>Stock Distribution</h3>
        <p-chart type="pie" [data]="chartData" height="400" width="400"></p-chart>
    </div>
</div>