<table id="stockTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>Prediction (1 year)</th>
      <th>Shares</th>
      <th>Note</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tbody id="stockList">
    <tr class="stock-card" *ngFor="let symbol of GetKeys(watchingStocks)">
      <td>
        <a
        [routerLink]="['/', 'stocks', 'information']" 
        [queryParams]="{ stockSymbol: symbol }">
          {{stocksDictionary[symbol].name}}
        </a>
      </td>
      <td>{{symbol}}</td>
      <td>{{stocksDictionary[symbol].price}}</td>
      <td>{{stocksDictionary[symbol].analysis?.targetMeanPrice ?? ""}}</td>
      <td>
        <p (click)="RedirectToSharesScreen(symbol)">{{CountShares(watchingStocks[symbol])}}</p>
      </td>
      <td>
        <ng-container *ngIf="!watchingStocks[symbol].note; else elseTemplate">
          <button (click)="CreateStockNote(symbol)">+</button>
        </ng-container>
        <ng-template #elseTemplate>
          <p (click)="DeleteNote(symbol)">{{watchingStocks[symbol].note}}</p>
        </ng-template>
      </td>
      <td>{{stocksDictionary[symbol].updatedTime}}</td>
    </tr>
  </tbody>
</table>