<table id="stockTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>Prediction (1 year)</th>
      <th>Shares</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody id="stockList">
    <tr class="stock-card" *ngFor="let symbol of GetKeys(stocks)">
      <td>
        <a 
        [routerLink]="['/', 'stocks', 'information']" 
        [queryParams]="{ stockSymbol: symbol }">
          {{stocksDictionary[symbol].name}}
        </a>
      </td>
      <td>{{symbol}}</td>
      <td>{{stocksDictionary[symbol].price}}</td>
      <td>{{stocksDictionary[symbol].oneYearEstimate}}</td>
      <td><p (click)="RedirectToSharesScreen(symbol)">{{CountShares(stocks[symbol].shares)}}</p></td>
      <td>
        <ng-container *ngIf="!stocks[symbol].note; else elseTemplate">
          <button (click)="CreateStockNote(symbol)">+</button>
        </ng-container>
        <ng-template #elseTemplate>
          <p (click)="DeleteNote(symbol)">{{stocks[symbol].note}}</p>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>