<ng-container *ngIf="!UserEmail; else elseTemplate">
  <div>
    <p>
      you are welcome to connect to your account, if you dont have an account yet
      be sure to create one!
    </p>
    <a routerLink="/connect">connect</a>
    <a routerLink="/register">register</a>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div>
    <app-stocks-table 
      tableTitle="My Stocks" 
      [stocks]="Stocks.stocks"
      [stocksDictionary]="Stocks.stocksDictionary">
    </app-stocks-table>
    <app-stocks-table 
      tableTitle="Watching" 
      [stocks]="Stocks.watchingStocksSymbol"
      [stocksDictionary]="Stocks.stocksDictionary">
    </app-stocks-table>
  </div>
</ng-template>