<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>showing all routes for the api</h1>
    <h2>General</h2>
    <ul>
      <li>GET: /</li>
    </ul>
    <h2>Users</h2>
    <ul>
      <li>GET: /users/all</li>
      <li>DELETE: /users/all</li>
      <li>POST: /users/register</li>
      <li>GET: /users/:id</li>
      <li>GET: /users/:id/:symbol</li>
    </ul>
    <h2>Stocks</h2>
    <ul>
      <li>GET: /stocks/all</li>
      <li>GET: /stocks/:symbol</li>
    </ul>
  </body>
</html>
