<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>showing all routes for the api</h1>
    <h2>General</h2>
    <ul>
      <li>GET: /</li>
    </ul>
    <h2>Users</h2>
    <ul>
      <li>
        GET: /users/all
        <ul>
          <li>token required</li>
        </ul>
      </li>
      <li>
        DELETE: /users/all
        <ul>
          <li>token required</li>
        </ul>
      </li>
      <li>POST: /users/login
        <ul>
          <li>body: {email, password}</li>
        </ul>
      </li>
      <li>POST: /users/register
        <ul>
          <li>body: {email, username, password}</li>
        </ul>
      </li>
      <li>GET: /users/:id
        <ul>
          <li>token required</li>
        </ul>
      </li>
      <li>GET: /users/:id/:symbol
        <ul>
          <li>token required</li>
        </ul>
      </li>
    </ul>
    <h2>Stocks</h2>
    <ul>
      <li>GET: /stocks/all
        <ul>
          <li>token required</li>
        </ul>
      </li>
      <li>GET: /stocks/:symbol
        <ul>
          <li>token required</li>
        </ul>
      </li>
    </ul>
  </body>
</html>
