<div class="grid-container">
    <div class="sidebar">
        <p-panel header="Portfolios">
            <div class="button-container">
                <button (click)="AddUserList()">Add List</button>
                <button (click)="RemoveUserList()">Remove List</button>
            </div>
            <p-listbox [options]="listNames" [(ngModel)]="selectedPortfolioName"
                (onClick)="onSelectedPortfolio($event)" />
        </p-panel>
    </div>
    <div class="content">
        <p-panel header="Portfolio Details">
            <app-portfolio-details
                *ngIf="selectedPortfolioName != undefined && selectedPortfolio != undefined; else noSelection"
                [listName]="selectedPortfolioName" [watchingStocks]="selectedPortfolio"
                [stocksDictionary]="this.stocks">
            </app-portfolio-details>
            <ng-template #noSelection>
                <p>Please choose an item</p>
            </ng-template>
        </p-panel>
    </div>
</div>