<div class="grid-container" *ngIf="visible">
    <div class="sidebar">
        <p-panel header="Portfolios">
            <div class="button-container">
                <p-button label="Add List" [text]="true" [raised]="true" severity="secondary"
                    (onClick)="AddUserList()" />
            </div>
            <p-listbox [options]="listNames" [(ngModel)]="selectedPortfolioName"
                (onClick)="onSelectedPortfolio($event)">
                <ng-template let-item pTemplate="item">
                    <span>{{item}}</span>
                    <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" (onClick)="RemoveUserList(item)"/>
                </ng-template>
            </p-listbox>
        </p-panel>
    </div>
    <div class="content">
        <p-panel header="Portfolio Details">
            <div class="button-container" *ngIf="selectedPortfolioName != undefined">
                <p-button label="Add Stock" [text]="true" [raised]="true" severity="secondary"
                    (onClick)="AddListStock(selectedPortfolioName!)" />
            </div>
            <app-portfolio-details
                *ngIf="selectedPortfolioName != undefined && selectedPortfolio != undefined; else noSelection"
                [listName]="selectedPortfolioName" [watchingStocks]="selectedPortfolio"
                [stocksDictionary]="this.stocks">
            </app-portfolio-details>
            <ng-template #noSelection>
                <p>Please choose a portfolio</p>
            </ng-template>
        </p-panel>
    </div>
</div>