<p-table [value]="this.watchingStockLists" [paginator]="watchingStockLists.length > 10" [rows]="10" [rowsPerPageOptions]="[10, 20]"> 
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name"/>
      </th>
      <th pSortableColumn="symbol">
        Symbol <p-sortIcon field="symbol"/>
      </th>
      <th pSortableColumn="price">
        Price <p-sortIcon field="price"/>
      </th>
      <th pSortableColumn="prediction">
        Predicition <p-sortIcon field="prediction"/>
      </th>
      <th pSortableColumn="shares">
        Shares <p-sortIcon field="shares"/>
      </th>
      <th>Note</th>
      <th>Last Update</th>
      <th>Options</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-watchingStockList>
    <tr>
      <td>
        {{watchingStockList.name}}
      </td>
      <td>{{watchingStockList.symbol}}</td>
      <td>{{watchingStockList.price}}</td>
      <td>{{watchingStockList.prediction}}</td>
      <td>
        {{watchingStockList.shares}}
      </td>
      <td>
        <ng-container *ngIf="!watchingStockList.note; else elseTemplate">
          <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" (onClick)="CreateStockNote(watchingStockList.symbol)"/>
        </ng-container>
        <ng-template #elseTemplate>
          <p (click)="DeleteNote(watchingStockList.symbol)">{{watchingStockList.note}}</p>
        </ng-template>
      </td>
      <td>{{watchingStockList.lastUpdate | date}}</td>
      <td>
        <p-button icon="pi pi-search" [rounded]="true" [text]="true" [routerLink]="['/', 'stocks', 'information']" [queryParams]="{ stockSymbol: watchingStockList.symbol}"/>
        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" (onClick)="RedirectToSharesScreen(watchingStockList.stockSymbol)"/>
        <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" />
      </td>
    </tr>
  </ng-template>
</p-table>