<div class="search-container">
    <h2>Search Stocks</h2>
    <div class="search-box">
        <input type="text" placeholder="Enter stock name" id="searchInput" #searchTerm>
        <button id="searchBtn" (click)="SearchResults(searchTerm.value)">Search</button>
    </div>
    <div *ngIf="stocksList">
        <div class="search-results" id="searchResults">
            <div *ngIf="stocksList.length == 0; else elseTemplate">
                <p>No stocks found.</p>
            </div>
            <ng-template #elseTemplate>
                <table id="stockTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Symbol</th>
                            <th>Information</th>
                        </tr>
                    </thead>
                    <tbody id="stockList">
                        <tr class="stock-card" *ngFor="let stock of stocksList">
                            <td>{{stock.name}}</td>
                            <td>{{stock.symbol}}</td>
                            <td><button>+</button></td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
    </div>
</div>