<div class="stock-details-container container flex-column align-items-center">
    <h2>Stock Details</h2>
    <div class="container gap-2">
        <p-button (click)="openAddNotificationDialog()">Add Notification</p-button>
        <p-button (click)="openAddStockToListDialog()">Add Stock To List</p-button>
    </div>
    
    <div id="stockDetails">
        <h3>{{stock?.name}}</h3>
        <p>current price: {{stock?.price}}</p>
        <h4>stock analysis</h4>
        <p>target high price: {{stock?.analysis?.targetHighPrice}}</p>
        <p>target low price: {{stock?.analysis?.targetLowPrice}}</p>
        <p>target mean price: {{stock?.analysis?.targetMeanPrice}}</p>
        <p>target median price: {{stock?.analysis?.targetMedianPrice}}</p>
        <p-chart type="bar" [data]="data" height="400" width="400"></p-chart>
    </div>
</div>
<p-dialog header="Edit Note" [modal]="true" [(visible)]="visibleAddNotificationDialog">
    <div class="container flex-column gap-1">
        <div class="container align-items-center gap-1">
            <label for="targetPrice" class="font-semibold w-6rem">Target Price: </label>
            <input pInputText id="targetPrice" class="flex-auto" autocomplete="off" [(ngModel)]="targetPrice" />
        </div>
        <div class="container justify-space-between gap-1">
            <p-button label="Cancel" severity="secondary" (onClick)="visibleAddNotificationDialog = false" />
            <p-button label="Save" (onClick)="addNotification()" />
        </div>
    </div>
</p-dialog>
<p-dialog header="Add Stock To List" [modal]="true" [(visible)]="visibleAddStockToListDialog">
    <div class="container flex-column gap-1">
        <div class="container align-items-center gap-1">
            <label for="listName" class="font-semibold w-6rem">List Name: </label>
            <input pInputText id="listName" class="flex-auto" autocomplete="off" [(ngModel)]="listName" />
        </div>
        <div class="container justify-space-between gap-1">
            <p-button label="Cancel" severity="secondary" (onClick)="visibleAddStockToListDialog = false" />
            <p-button label="Save" (onClick)="addStockToList(listName)" />
        </div>
    </div>
</p-dialog>