<header>
    <nav>
        <div class="logo" routerLink="/">Stock Collection</div>
        <div class="nav-links">
            <a routerLink="">Home</a>
            <a routerLink="/stocks/search">Search</a>
            <a routerLink="/stocks/all">Stocks</a>
            <ng-container *ngIf="IsConnected(); else elseTemplate">
                <a routerLink="/user/stocks">My Stocks</a>
                <a routerLink="/user/information">User Information</a>
                <a routerLink="/" (click)="SignOut()">Sign Out</a>
            </ng-container>
            <ng-template #elseTemplate>
                <a routerLink="/login">Login</a>
            </ng-template>
            <span>{{notifications?.length}}</span>
        </div>
    </nav>
</header>